In [1]:
import pandas as pd
import  numpy  as  np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn import preprocessing
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
import seaborn as sns
from imblearn.over_sampling import RandomOverSampler
from imblearn.over_sampling import SMOTE
from pandas_ml import ConfusionMatrix

In [2]:
file_name= "tagged_data/home_to_karapitiya.json"
data = pd.read_json(file_name)
#data.head(5)

In [3]:
#data.shape

In [4]:
#print(data['anomaly'].unique())

In [5]:
features = ['acceY', 'acceX','gpsSpeed',]
target = ['anomaly',]
x = data[features]
y = data[target]
print(y['anomaly'].unique())
#x.head()

['N' 'A']

In [6]:
sm = SMOTE()
x, y = sm.fit_sample(x, y)
x = pd.DataFrame(x)
#x.head()

C:\Users\User\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [7]:
y = pd.DataFrame(y)
#y.head()

In [8]:
y['anomaly'] = y
#y.head()

In [9]:
y = y['anomaly']
#y.head()

In [10]:
y = pd.DataFrame(y)
y['anomaly'] = y
#y.head()

In [11]:
y = pd.DataFrame(y)
#y.head()

In [12]:
x['acceY'] = x[0]
x['acceX'] = x[1]
x['gpsSpeed'] = x[2]
#x.head()

In [13]:
fea = ['acceY', 'acceX', 'gpsSpeed',]
x = x[fea]
#x.head()

In [14]:
#x.describe()

In [15]:
#y.head()

In [16]:
#y.describe()

# Basic Random Forest Model

In [17]:
forestModel = RandomForestClassifier()

In [18]:
#parameters = [{'max_depth' : [1,2,3,4,5,6,10,20], 'n_estimators' : [1,2,3,4,5,10,20,30,40,50,60,70,80,100],
               #'min_samples_leaf' : [0.01,0.015,0.02,0.03,0.005]}]
#grid = GridSearchCV(forestModel,parameters,cv=3)
#grid.fit(x, y)
#grid.best_estimator_

In [19]:
forestModel = RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=1, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=0.01, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=1, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [20]:
forestModel.fit(x, y)

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=1, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=0.01, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=1, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [21]:
file_name= "tagged_data/home_to_karapitiya.json"
data = pd.read_json(file_name)
#data.drop(['anomaly'], axis=1, inplace = True)
#data.head(5)

In [22]:
features = ['acceY', 'acceX','gpsSpeed',]
target = ['anomaly',]
x = data[features]
y = data[target]

In [23]:
y_predict = pd.DataFrame(forestModel.predict(x))
y_predict.describe()

           0
count   4525
unique     2
top        N
freq    4516

In [24]:
y_predict['anomaly'] = y_predict
fea = ['anomaly', ]
y_predict = y_predict[fea]
y_predict.head()

  anomaly
0       N
1       N
2       N
3       N
4       N

In [25]:
data.drop(['anomaly'], axis=1, inplace = True)
data.head(5)

,acceX,acceX_raw,acceY,acceY_raw,acceZ,acceZ_raw,count,dataType,gpsSpeed,gyroX,...,imei,journeyID,lat,lon,magnetX,magnetY,magnetZ,obdRpm,obdSpeed,time
0,2.220446e-17,-0.143652,9.779027,9.873688,-0.014639,-1.465251,0,data_item,3682.371238,,...,353424070112284,3.534241e+27,6.035515,80.269212,,,,0,0,1537579764266
1,0.000000e+00,-0.208296,9.807997,9.774328,0.018061,-1.477222,0,data_item,3682.371238,,...,353424070112284,3.534241e+27,6.035515,80.269212,,,,0,0,1537579764366
2,-3.538836e-17,-0.093374,9.782139,9.708488,-0.029349,-1.563414,0,data_item,3682.371238,,...,353424070112284,3.534241e+27,6.035515,80.269212,,,,0,0,1537579764466
3,1.318390e-17,-0.417788,9.826959,9.613917,-0.000558,-1.449689,0,data_item,3682.371238,,...,353424070112284,3.534241e+27,6.035515,80.269212,,,,0,0,1537579764566
4,2.220446e-17,-0.342371,9.797654,9.569624,-0.003664,-1.375469,0,data_item,3682.371238,,...,353424070112284,3.534241e+27,6.035515,80.269212,,,,0,0,1537579764666

In [26]:
result = pd.concat([data, y_predict,], axis=1)
result.head()

,acceX,acceX_raw,acceY,acceY_raw,acceZ,acceZ_raw,count,dataType,gpsSpeed,gyroX,...,journeyID,lat,lon,magnetX,magnetY,magnetZ,obdRpm,obdSpeed,time,anomaly
0,2.220446e-17,-0.143652,9.779027,9.873688,-0.014639,-1.465251,0,data_item,3682.371238,,...,3.534241e+27,6.035515,80.269212,,,,0,0,1537579764266,N
1,0.000000e+00,-0.208296,9.807997,9.774328,0.018061,-1.477222,0,data_item,3682.371238,,...,3.534241e+27,6.035515,80.269212,,,,0,0,1537579764366,N
2,-3.538836e-17,-0.093374,9.782139,9.708488,-0.029349,-1.563414,0,data_item,3682.371238,,...,3.534241e+27,6.035515,80.269212,,,,0,0,1537579764466,N
3,1.318390e-17,-0.417788,9.826959,9.613917,-0.000558,-1.449689,0,data_item,3682.371238,,...,3.534241e+27,6.035515,80.269212,,,,0,0,1537579764566,N
4,2.220446e-17,-0.342371,9.797654,9.569624,-0.003664,-1.375469,0,data_item,3682.371238,,...,3.534241e+27,6.035515,80.269212,,,,0,0,1537579764666,N

In [27]:
result.to_json("Predicted_Data/home_to_karapitiya.json")

In [28]:
print(y_predict['anomaly'].unique())

['N' 'A']