In [78]:
import pandas as pd
import  numpy  as  np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn import preprocessing
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
import seaborn as sns
from imblearn.over_sampling import RandomOverSampler
from imblearn.over_sampling import SMOTE
from pandas_ml import ConfusionMatrix
from scipy.fftpack import fft

In [64]:
raw_data_file_name= "Predicted_Data/qixroq6.json"
raw_data = pd.read_json(raw_data_file_name)
raw_data.head(5)

      acceY anomaly       lat        lon           time
0  9.730808       N  6.765363  79.948124  1538098834294
1  9.864739       N  6.765363  79.948124  1538098834379
2  9.795930       N  6.765363  79.948124  1538098834482
3  9.744646       N  6.765305  79.948123  1538098834599
4  9.873358       N  6.765305  79.948123  1538098834700

In [65]:
raw_data.shape

(27109, 5)

In [66]:
raw_data['sum'] =  raw_data.lat.astype(str) + raw_data.lon.astype(str)
raw_data = raw_data.drop_duplicates(subset='sum', keep="first")
raw_data.shape

(2863, 6)

In [67]:
raw_data_file_name= "Predicted_Data/gfysqe.json"
test_data = pd.read_json(raw_data_file_name)
test_data['sum'] =  test_data.lat.astype(str) + test_data.lon.astype(str)
test_data = test_data.drop_duplicates(subset='sum', keep="first")
raw_data = raw_data.append(test_data, ignore_index=True)
raw_data.shape

(5726, 6)

In [68]:
raw_data_file_name= "Predicted_Data/Bandaragama_Road_Weralugas_Junction.json"
test_data = pd.read_json(raw_data_file_name)
test_data['sum'] =  test_data.lat.astype(str) + test_data.lon.astype(str)
test_data = test_data.drop_duplicates(subset='sum', keep="first")
raw_data = raw_data.append(test_data, ignore_index=True)
raw_data.shape

(9387, 6)

In [69]:
raw_data_file_name= "Predicted_Data/BekkegamaRoadEluwila.json"
test_data = pd.read_json(raw_data_file_name)
test_data['sum'] =  test_data.lat.astype(str) + test_data.lon.astype(str)
test_data = test_data.drop_duplicates(subset='sum', keep="first")
raw_data = raw_data.append(test_data, ignore_index=True)
raw_data.shape

(11499, 6)

In [70]:
raw_data_file_name= "Predicted_Data/Kesbewa_Kosgashandiya_Road_Weralugas_Junction_2.json"
test_data = pd.read_json(raw_data_file_name)
test_data['sum'] =  test_data.lat.astype(str) + test_data.lon.astype(str)
test_data = test_data.drop_duplicates(subset='sum', keep="first")
raw_data = raw_data.append(test_data, ignore_index=True)
raw_data.shape

(15509, 6)

In [71]:
raw_data_file_name= "Predicted_Data/Salon_my_style_piliyandala_Piliyandala_Kottawa_Road.json"
test_data = pd.read_json(raw_data_file_name)
test_data['sum'] =  test_data.lat.astype(str) + test_data.lon.astype(str)
test_data = test_data.drop_duplicates(subset='sum', keep="first")
raw_data = raw_data.append(test_data, ignore_index=True)
raw_data.shape

(19757, 6)

In [72]:
raw_data['anomaly'].describe()

count     19757
unique        2
top           N
freq      19533
Name: anomaly, dtype: object

In [73]:
raw_data = raw_data[raw_data.anomaly != 'N']
raw_data.shape

(224, 6)

In [74]:
raw_data.head()

,acceY,anomaly,lat,lon,time,sum
79,10.115843,A,6.758759,79.948375,1538098907538,6.7587592279.94837487
117,10.091279,A,6.757569,79.952875,1538098941599,6.757569099999999679.95287454
194,10.031184,A,6.752263,79.955845,1538099014618,6.7522634879.95584466
220,10.085532,A,6.751405,79.954408,1538099039540,6.7514049879.95440765
245,10.126904,A,6.749772,79.953156,1538099063640,6.7497718479.95315633

In [75]:
features = ['anomaly', 'lat', 'lon']
raw_data = raw_data[features]
raw_data.head()

    anomaly       lat        lon
79        A  6.758759  79.948375
117       A  6.757569  79.952875
194       A  6.752263  79.955845
220       A  6.751405  79.954408
245       A  6.749772  79.953156

In [76]:
raw_data['anomaly'].describe()

count     224
unique      1
top         A
freq      224
Name: anomaly, dtype: object

In [77]:
raw_data.to_json("Data_to_Clustered/dilum_sir_route_without_duplications.json", orient='records')