In [134]:
import pandas as pd
import  numpy  as  np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn import preprocessing
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
import seaborn as sns
from imblearn.over_sampling import RandomOverSampler
from imblearn.over_sampling import SMOTE
from pandas_ml import ConfusionMatrix
from scipy.fftpack import fft

In [135]:
raw_data_file_name= "Fourier_Based_Prediction/qixroq6.json"
raw_data = pd.read_json(raw_data_file_name)
raw_data.head(5)

  anomaly       lat        lon           time
0       A  6.765363  79.948124  1538098834294
1       N  6.765363  79.948124  1538098834379
2       N  6.765363  79.948124  1538098834482
3       N  6.765305  79.948123  1538098834599
4       N  6.765305  79.948123  1538098834700

In [136]:
raw_data.shape

(27109, 4)

In [137]:
raw_data['sum'] =  raw_data.lat.astype(str) + raw_data.lon.astype(str)
raw_data = raw_data.drop_duplicates(subset='sum', keep="first")
raw_data.shape

(2863, 5)

In [138]:
raw_data_file_name= "Fourier_Based_Prediction/gfysqe.json"
test_data = pd.read_json(raw_data_file_name)
test_data['sum'] =  test_data.lat.astype(str) + test_data.lon.astype(str)
test_data = test_data.drop_duplicates(subset='sum', keep="first")
raw_data = raw_data.append(test_data, ignore_index=True)
raw_data.shape

(5726, 5)

In [139]:
raw_data_file_name= "Fourier_Based_Prediction/Bandaragama_Road_Weralugas_Junction.json"
test_data = pd.read_json(raw_data_file_name)
test_data['sum'] =  test_data.lat.astype(str) + test_data.lon.astype(str)
test_data = test_data.drop_duplicates(subset='sum', keep="first")
raw_data = raw_data.append(test_data, ignore_index=True)
raw_data.shape

(9387, 5)

In [140]:
raw_data_file_name= "Fourier_Based_Prediction/Kesbewa_Kosgashandiya_Road_Weralugas_Junction_2.json"
test_data = pd.read_json(raw_data_file_name)
test_data['sum'] =  test_data.lat.astype(str) + test_data.lon.astype(str)
test_data = test_data.drop_duplicates(subset='sum', keep="first")
raw_data = raw_data.append(test_data, ignore_index=True)
raw_data.shape

(13397, 5)

In [141]:
raw_data_file_name= "Fourier_Based_Prediction/BekkegamaRoadEluwila.json"
test_data = pd.read_json(raw_data_file_name)
test_data['sum'] =  test_data.lat.astype(str) + test_data.lon.astype(str)
test_data = test_data.drop_duplicates(subset='sum', keep="first")
raw_data = raw_data.append(test_data, ignore_index=True)
raw_data.shape

(15509, 5)

In [142]:
raw_data_file_name= "Fourier_Based_Prediction/Kesbewa_Kosgashandiya_Road_Weralugas_Junction.json"
test_data = pd.read_json(raw_data_file_name)
test_data['sum'] =  test_data.lat.astype(str) + test_data.lon.astype(str)
test_data = test_data.drop_duplicates(subset='sum', keep="first")
raw_data = raw_data.append(test_data, ignore_index=True)
raw_data.shape

(19090, 5)

In [143]:
raw_data_file_name= "Fourier_Based_Prediction/Salon_my_style_piliyandala_Piliyandala_Kottawa_Road.json"
test_data = pd.read_json(raw_data_file_name)
test_data['sum'] =  test_data.lat.astype(str) + test_data.lon.astype(str)
test_data = test_data.drop_duplicates(subset='sum', keep="first")
raw_data = raw_data.append(test_data, ignore_index=True)
raw_data.shape

(23338, 5)

In [144]:
raw_data['anomaly'].describe()

count     23338
unique        2
top           N
freq      17330
Name: anomaly, dtype: object

In [145]:
raw_data = raw_data[raw_data.anomaly != 'N']
raw_data.shape

(6008, 5)

In [146]:
raw_data.head()

    anomaly       lat        lon           time                    sum
0         A  6.765363  79.948124  1538098834294    6.765362579.9481239
56        A  6.760512  79.947796  1538098885524  6.7605118179.94779643
58        A  6.760431  79.947789  1538098886640     6.760430979.947789
111       A  6.757848  79.951910  1538098935558  6.7578477279.95191031
208       A  6.751866  79.954972  1538099028578    6.751865779.9549725

In [147]:
features = ['anomaly', 'lat', 'lon']
raw_data = raw_data[features]
raw_data.head()

    anomaly       lat        lon
0         A  6.765363  79.948124
56        A  6.760512  79.947796
58        A  6.760431  79.947789
111       A  6.757848  79.951910
208       A  6.751866  79.954972

In [148]:
raw_data['anomaly'].describe()

count     6008
unique       1
top          A
freq      6008
Name: anomaly, dtype: object

In [149]:
raw_data.to_json("Data_to_Clustered/dilum_sir_route_without_duplications_Fourier.json", orient='records')