In [7]:
import pandas as pd
import  numpy  as  np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn import preprocessing
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
import seaborn as sns
from imblearn.over_sampling import RandomOverSampler
from imblearn.over_sampling import SMOTE
from pandas_ml import ConfusionMatrix
from scipy.fftpack import fft

In [8]:
raw_data_file_name= "Predicted_Data/qixroq6.json"
raw_data = pd.read_json(raw_data_file_name)
raw_data.head(5)

      acceY anomaly       lat        lon           time
0  9.730808       N  6.765363  79.948124  1538098834294
1  9.864739       N  6.765363  79.948124  1538098834379
2  9.795930       N  6.765363  79.948124  1538098834482
3  9.744646       N  6.765305  79.948123  1538098834599
4  9.873358       N  6.765305  79.948123  1538098834700

In [9]:
raw_data.shape

(27109, 5)

In [10]:
raw_data_file_name= "Predicted_Data/gfysqe.json"

raw_data = raw_data.append(pd.read_json(raw_data_file_name), ignore_index=True)
raw_data.shape

(54218, 5)

In [11]:
raw_data_file_name= "Predicted_Data/Bandaragama_Road_Weralugas_Junction.json"
raw_data = raw_data.append(pd.read_json(raw_data_file_name), ignore_index=True)
raw_data.shape

(88887, 5)

In [12]:
raw_data['anomaly'].describe()

count     88887
unique        2
top           N
freq      87903
Name: anomaly, dtype: object

In [13]:
raw_data = raw_data[raw_data.anomaly != 'N']
raw_data.shape

(984, 5)

In [14]:
raw_data.head()

         acceY anomaly       lat        lon           time
427  10.014616       A  6.761253  79.947881  1538098877180
729  10.115843       A  6.758759  79.948375  1538098907538
736  10.028455       A  6.758759  79.948375  1538098908240
754  10.260644       A  6.758699  79.948589  1538098910039
838  10.023666       A  6.758502  79.949441  1538098918479

In [15]:
raw_data['anomaly'].describe()

count     984
unique      1
top         A
freq      984
Name: anomaly, dtype: object

In [16]:
raw_data.to_json("Data_to_Clustered/dilum_sir_route.json", orient='records')