In [32]:
import pandas as pd
import  numpy  as  np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn import preprocessing
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
import seaborn as sns
from imblearn.over_sampling import RandomOverSampler
from imblearn.over_sampling import SMOTE
from pandas_ml import ConfusionMatrix

In [33]:
file_name= "tagged_data/home_to_karapitiya.json"
data = pd.read_json(file_name)
#data.head(5)

In [34]:
data.shape

(4525, 24)

In [35]:
#print(data['anomaly'].unique())

In [36]:
features = ['acceY', 'acceX','gpsSpeed',]
target = ['anomaly',]
x = data[features]
y = data[target]
print(y['anomaly'].unique())
#x.head()

['N' 'A']

In [37]:
sm = SMOTE()
x, y = sm.fit_sample(x, y)
x = pd.DataFrame(x)
#x.head()

C:\Users\User\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [38]:
y = pd.DataFrame(y)
#y.head()

In [39]:
y['anomaly'] = y
#y.head()

In [40]:
y = y['anomaly']
#y.head()

In [41]:
y = pd.DataFrame(y)
y['anomaly'] = y
#y.head()

In [42]:
y = pd.DataFrame(y)
#y.head()

In [43]:
x['acceY'] = x[0]
x['acceX'] = x[1]
x['gpsSpeed'] = x[2]
#x.head()

In [44]:
fea = ['acceY', 'acceX', 'gpsSpeed',]
x = x[fea]
#x.head()

In [45]:
#x.describe()

In [46]:
#y.head()

In [47]:
#y.describe()

# Basic Random Forest Model

In [48]:
forestModel = RandomForestClassifier()

In [49]:
#parameters = [{'max_depth' : [1,2,3,4,5,6,10,20], 'n_estimators' : [1,2,3,4,5,10,20,30,40,50,60,70,80,100],
               #'min_samples_leaf' : [0.01,0.015,0.02,0.03,0.005]}]
#grid = GridSearchCV(forestModel,parameters,cv=3)
#grid.fit(x, y)
#grid.best_estimator_

In [50]:
forestModel = RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=1, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=0.01, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=1, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [51]:
forestModel.fit(x, y)

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=1, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=0.01, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=1, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [122]:
file_name= "tagged_data/home_to_kalegaana.json"
data = pd.read_json(file_name)
#data.drop(['anomaly'], axis=1, inplace = True)
#data.head(5)

In [123]:
features = ['acceY', 'acceX','gpsSpeed',]
target = ['anomaly',]
x = data[features]
y = data[target]

In [124]:
y_predict = pd.DataFrame(forestModel.predict(x))
y_predict.describe()

           0
count   3392
unique     2
top        N
freq    3391

In [125]:
y_predict['anomaly'] = y_predict
fea = ['anomaly', ]
y_predict = y_predict[fea]
y_predict.head()

  anomaly
0       N
1       N
2       N
3       N
4       N

In [126]:
#data.drop(['anomaly'], axis=1, inplace = True)
features = ['time', 'lat','lon', 'anomaly','acceY',]

data = data[features]
data.head(5)

            time       lat        lon anomaly     acceY
0  1537535236798  6.035546  80.269243       N  9.797414
1  1537535236899  6.035546  80.269243       N  9.801532
2  1537535236999  6.035546  80.269243       N  9.801437
3  1537535237100  6.035546  80.269243       N  9.797654
4  1537535237199  6.035546  80.269243       N  9.798899

In [127]:
data['anomaly'] = y_predict['anomaly']

In [ ]:
plt.plot(data.time, data.acceY)
plt.show()

In [118]:
data.shape

(3392, 5)

In [119]:
data.to_json("Predicted_Data/home_to_kalegaana.json", orient='records')

In [120]:
print(y_predict['anomaly'].unique())

['N' 'A']

In [121]:
data.describe()

               time          lat          lon        acceY
count  3.392000e+03  3392.000000  3392.000000  3392.000000
mean   1.537535e+12     6.035072    80.260739     9.800009
std    9.800821e+04     0.001773     0.006158     0.041720
min    1.537535e+12     6.032219    80.250264     9.469217
25%    1.537535e+12     6.033948    80.255508     9.777662
50%    1.537535e+12     6.034954    80.260508     9.800335
75%    1.537535e+12     6.035939    80.266630     9.822829
max    1.537536e+12     6.038187    80.269244    10.012509